
  <body>
  <div class="home-main-container" tabindex="100" style="">
   
    <div class="header">
      <!--<span>Testing Web Components....</span>-->
    </div>
  </div>
 
 <!--<div ng-include="'../assets/launcher.html'"></div>-->

  <script type="text/javascript" src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <script type="text/javascript" src="../assets/launcher.js"></script>

  <button onclick="createLauncherPanel" id="import_button">Import Page</button>

  </body>